.approch {
	@include rem(padding-top, 90);
	@include rem(padding-bottom, 133);
}

.approch__h1 {
	@extend .services__h1;
	text-align: center;
}

.approch__h3 {
	@extend .services__h3;
	text-align: center;
}

.approch__steps {
	padding: 0 15px;
	@include rem(margin-top, 45);
}

.steps__step {
	@include rem(margin-top, 40);
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 0 0.313rem #a7a7a7;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	
	&:first-of-type {
		margin-top: 0;
	}
	
	&:nth-of-type(n+3) {
		.emblem__title {
			margin-top: .4rem;
		}
	}
	
	&:first-of-type {
		.step__img {
			background: url(../img/step-1-photo.png) center center no-repeat / cover;
		}
	}
	&:nth-of-type(2) {
		.step__img {
			background: url(../img/step-2-photo.jpg) center center no-repeat / cover;
		}
	}
	&:nth-of-type(3) {
		.step__img {
			background: url(../img/step-3-photo.jpg) center center no-repeat / cover;
		}
	}
	&:last-of-type {
		.step__img {
			background: url(../img/step-4-photo.jpg) center center no-repeat / cover;
		}
	}
}

.step__img {
	width: 100%;
	min-height: 100%;
}

.step__img-emblem-wrapper {
	position: relative;
	width: 33%;
	
	display: flex;
	align-items: center;
}

.step__emblem {
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	top: 50%;
	right: 0;
	margin-top: calc(-6.563rem / 2);
	margin-right: calc(-6.563rem / 2);
	width: 6.563rem;
	height: 6.563rem;
	border-radius: .3rem;
	border: 0.125rem solid #ffffff;
	background-color: #de2b24;
	color: #ffffff;
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.emblem__number {
	line-height: .6;
	font-family: Georgia;
	font-size: 3.75rem;
	height: 2.6rem;
	font-weight: 700;
}

.emblem__title {
	font-size: 1.25rem;
	font-weight: 400;
}

.step__text-wrapper {
	width: 67%;
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	
	@include rem(padding, 70);
	@include rem(padding-left, 90);
	@include rem(padding-right, 72);
	
	.step__h2 {
		max-width: 32.5rem;
		font-size: 1.125rem;
		font-weight: 700;
	}
	
	.step__p {
		max-width: 32.5rem;
		@include rem(margin-top, 13);
		color: #5c5c5c;
		font-family: "Open Sans";
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.375rem;
	}
}

.steps__step-right {
	.step__img-emblem-wrapper {
		order: 2;
	}
	
	.step__text-wrapper {
		order: 1;
	}
	
	.step__emblem {
		left: 0;
		margin-right: 0;
		margin-left: calc(-6.563rem / 2);
	}
	
	.step__h2,
	.step__p {
		text-align: right;
	}
	
	.step__h2 {
		@include rem(padding-right, 15);
	}
}