// 65.94rem = 1055
//40.063rem = 641
//64rem = 1024


@media only screen and (max-width: 1100px) {
	html,
	body,
	.container,
	.wrapper {
		min-width: 100% !important;
		width: 100% !important;
	}
}

@media only screen and (max-width: 65.94em) {
	html,
	body {
		font-size: 120%;
	}
	
	.menu-and-logo {
		flex-flow: column nowrap;
	}
	
	.menu-wrapper__menu {
		flex-flow: row wrap;
		justify-content: center;
	}
	
	.menu__item {
		line-height: 2;
	}
	
	.header__logo {
		justify-content: center;
	}
	
	.header__menu-wrapper {
		margin-top: 1.5rem;
		justify-content: center;
		flex-wrap: wrap;
	}
	
	.banner {
		min-height: 0;
		padding: 19% 0 25%;
	}
	
	.services {
		padding-bottom: 3rem;
	}
	
	.steps__step-left .step__text-wrapper {
		padding-right: 1rem;
	}
	
	.steps__step-right .step__text-wrapper {
		padding-left: 1rem;
	}
	
	.projects__project {
		flex: 1 1 50%;
	}
	
	.subForm__input {
		width: 100%;
	}
}
	
@media only screen and (max-width: 55.81em) {
	.fbForm__closeIcon {
		margin-right: calc(-3.063rem / 4.5);
	}
}

//	min-width 641px and max-width 1024px
@media only screen and (min-width: 40.063em) and (max-width: 65.94em) {
	
}

@media only screen and (max-width: 40em) {
	html,
	body {
		font-size: 120%;
	}
	
	.services__service {
		margin-top: 2rem;
		
		&:first-of-type {
			margin-top: 0;
		}
	}
	
	.steps__step {
		flex-flow: column nowrap;
	}
	
	.step__text-wrapper {
		padding: 2rem;
	}
	
	.step__emblem {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	
	.step__img-emblem-wrapper,
	.step__text-wrapper {
		width: 100%;
	}
	
	.steps__step-right {
		.step__img-emblem-wrapper {
			order: 1;
		}

		.step__text-wrapper {
			order: 2;
		}
	}
	
	.projects__project {
		flex: 0 0 100%;
	}
	
	.facebook__fbForm {
		padding: 10% 5% 5% 5%;
	}
	
	.footer__copyright p {
		text-align: center;
		white-space: normal;
	}
}