.content {
	background: #f5f3ee;
	padding: 60px 0 75px;
	position: relative;
	
	&:before,
	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		height: 10px;
		width: 100%;
		z-index: 0;
	}
	&:before {
		background: #e6e3da;
		top: 0;
	}
	&:after {
		background: #e6e3da;
		bottom: 0;
	}
}
/*	about text	*/
.content__about-text h2 {
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.875rem;
	font-weight: 700;
}

.content__about-text p {
	color: #444;
	margin-top: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.25rem;
}
/*	/about text	*/

/*	screenshots	*/
.content__screenshots h2 {
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.875rem;
	font-weight: 700;
}

.screenshots__shots {
	margin-top: 30px;
}

.screenshots__shot {
	margin-top: 30px;
	
	&:first-of-type {
		margin-top: 0;
	}
}

.shot__img {
	display: block;
	width: 100%;
	height: auto;
}
.shot__img-wrapper {
	position: relative;
	box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.shot__img-wrapper:before {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 0 10px rgba(0,0,0,.05);
}

.shot__plus-icon {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 34px;
	height: 34px;
	background: url(../img/feature-bar--item-plus-icon.png) center center no-repeat;
}

.shot__caption {
	margin-top: 15px;
	padding: 0 10px;
	color: #888;
	font-family: Georgia;
	font-size: 0.688rem;
	font-style: italic;
	line-height: 25px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 0.063rem 0 rgba(255, 255, 255, 0.57), inset 0 0.063rem 0.063rem rgba(0, 0, 0, 0.06);
	background: #efede6;
	overflow: hidden;
}
/*	/screenshots	*/

/*	screencast	*/
.content__screencast h2 {
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.875rem;
	font-weight: 700;
}

.screencast__info-and-vid-wrapper {
	margin-top: 30px;
}

.screencast__info {
	color: #444;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.25rem;
}

.vid__img-wrapper {
	margin-top: 17px;
	position: relative;
}

.vid__img-wrapper:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 0 10px rgba(255,255,255,.05);
}

.vid__img-wrapper img {
	display: block;
	width: 100%;
}

.img-wrapper__overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
}

.img-wrapper__overlay .overlay__h2 {
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	color: #f1eee5;
	font-family: 'Days One', sans-serif;
	font-size: 2.125rem;
	font-weight: 700;
	line-height: 100%;
	margin-top: 24%;
}

.img-wrapper__overlay .overlay__p {
	text-shadow: 0 -0.062rem 0 rgba(0, 0, 0, 0.5);
	color: #6b96a8;
	font-family: Georgia;
	font-size: 0.688rem;
	font-style: italic;
	line-height: 0.875rem;
	margin-top: 10px;
}

.vid__plus-icon {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 34px;
	height: 34px;
	background: url(../img/feature-bar--item-plus-icon.png) center center no-repeat;
}

.vid__caption {
	margin-top: 15px;
	color: #888;
	font-family: Georgia;
	font-size: 0.688rem;
	font-style: italic;
	line-height: 25px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 0.063rem 0 rgba(255, 255, 255, 0.57), inset 0 0.063rem 0.063rem rgba(0, 0, 0, 0.06);
	background: #efede6;
	overflow: hidden;
}
/*	/screencast	*/

/*	callout	*/
.content__callout {
	background: #fcfcfc;
	min-height: 90px;
	border-radius: 5px;
	margin: 60px 15px;
	padding: 20px 20px 20px 25px;
	border: 1px solid #dfdcd5;
	
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.content__callout .left-column__h2 {
	text-shadow: 0 0.063rem 0 white;
	color: #444;
	font-family: Georgia;
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.25rem;
}

.content__callout .left-column__p {
	margin-top: 10px;
	color: #444;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.25rem;
}

.callout__right-column {
	text-align: right;
}

.callout__btn {
	text-align: center;
	display: inline-block;
	min-width: 224px;
	min-height: 50px;
	background: url(../img/callout-btn.png) center center no-repeat;
	background-size: 100% 100%;
	white-space: nowrap;
	padding: 18px 15px;
	
	text-shadow: 0 0.063rem 0.063rem rgba(255, 255, 255, 0.8);
	color: #252525;
	font-family: Georgia;
	font-size: 0.875rem;
	font-style: italic;
	transition: .5s;
}
.callout__btn:hover {
	background: url(../img/callout-btn.hover.png) center center no-repeat;
	background-size: 100% 100%;
	color: inherit;
}
/*	/callout	*/

/*	blog	*/
.content__blog h2 {
	text-shadow: 0 0.063rem 0 white;
	color: #444;
	font-family: Georgia;
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.25rem;
}

.blog__post {
	@include rem(min-height, 95);
	@include rem(max-height, 98);
	padding: 0;
	@include rem(padding-top, 20);
	@include rem(padding-bottom, 20);
	border-bottom: 1px solid #e4e1d9;
	
	display: flex;
	align-content: center;
	align-items: center;
}
.blog__post:first-of-type {
	margin-top: 10px;
}

.post__img {
	align-self: flex-start;
	margin-right: 13px;
	flex: 0 0 auto;
}

.post__msg {
	color: #444;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.2rem;
}

.post__info {
	margin-top: 4px;
	
	color: #888;
	font-family: Georgia;
	font-size: 0.688rem;
	font-style: italic;
}

.post__date,
.post__comments {
	transition: .3s;
}

.post__date:hover,
.post__comments:hover {
	color: #444;
	cursor: pointer;
}
/*	/blog	*/

/*	tweets	*/
.content__tweets h2 {
	text-shadow: 0 0.063rem 0 white;
	color: #444;
	font-family: Georgia;
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.25rem;
}

.tweets__tweet {
	@include rem(min-height, 95);
	@include rem(max-height, 98);
//	padding: 20px 0;
	padding: 0;
	@include rem(padding-top, 20);
	@include rem(padding-bottom, 20);
	border-bottom: 1px solid #e4e1d9;
	
	display: flex;
	align-content: center;
	align-items: center;
}
.tweets__tweet:first-of-type {
	margin-top: 10px;
}

.tweet__msg {
	color: #444;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.2rem;
}

.tweet__author {
	color: #5597b2;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.2rem;
	border-bottom: 1px solid #dbd7cc;
}
.tweet__author:hover {
	cursor: pointer;
}

.tweet__send-ago {
	display: block;
	color: #888;
	font-family: Georgia;
	font-size: 0.688rem;
	font-style: italic;
	vertical-align: bottom;
	margin-top: 4px;
	line-height: 100%;
}
/*	/tweets	*/

/*	testimonoals	*/
.container__testimonials h2 {
	text-shadow: 0 0.063rem 0 white;
	color: #444;
	font-family: Georgia;
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.25rem;
}

.testimonials__quotes {
	margin-top: 30px;
	
	display: flex;
	flex-direction: column;
}

.testimonials__quote {
	margin-top: 40px;
	min-height: 150px;
	
	&:first-of-type {
		margin-top: 0;
	}
}

.quote__author-data {
	display: flex;
	align-content: flex-start;
}

.author__img {
	margin-right: 15px;
	align-self: flex-start;
}

.author__data-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.author__name {
	color: #444;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.75rem;
	font-weight: 700;
}

.author__job {
	color: #444;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
}

.author__company {
	color: #888;
	font-family: Georgia;
	font-size: 0.688rem;
	font-style: italic;
}

.quote__text {
	margin-top: 20px;
	color: #444;
	font-family: Georgia;
	font-size: 0.75rem;
	font-style: italic;
	line-height: 1.25rem;
}
/*	/trstimonoals	*/