.forecast__currentCity {
  padding: 0 1.3rem;
  font-size: 3rem;
  text-align: right;
}

.forecast__mainWeather {
  display: flex;
  justify-content: space-between;;
  align-items: center;
}

.forecast__weatherIcon {
  max-width: 40%;
}

.forecast__temp {
  margin-left: 2rem;
  font-size: 10rem;
}

.forecast__humidity,
.forecast__barometer {
	margin-top: 1rem;
	font-size: 2rem;
	text-align: right;
}