.main {
	min-height: 31rem;
	height: 60vh;
	max-height: 40rem;
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.forecast__currentCity {
  padding: 0 1.3rem;
  font-size: 3rem;
	text-align: center;
	
	display: flex;
	justify-content: flex-end;
}

.forecast__mainWeather {
  display: flex;
  justify-content: space-between;;
  align-items: center;
	align-items: stretch;
}

.forecast__condition {
	width: 40%;
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.forecast__weatherIcon {
	transform: scale(1.2);
}

.forecast__description {
	margin-top: .5rem;
	font-size: 2rem;
}

.forecast__temp {
  margin-left: 2rem;
  font-size: 10rem;
}

.forecast__humidity,
.forecast__barometer {
	margin-top: 1rem;
	font-size: 2rem;
	text-align: right;
}