.cities__wrapper h1 {
  @extend .forecast__currentCity;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	.fa {
		color: darken($base-close-color, 10%);
		transition: .3s ease;
		
		&:hover {
			cursor: pointer;
			color: $base-close-color;
		}
	}
}

.cities__city {
  background-color: $base-light-color;
  padding: 1.3rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
	text-transform: capitalize;

  &:first-of-type {
    margin-top: .5rem;
  }

  &:not(:first-of-type) {
    margin-top: .3rem;
  }

  &:hover {
    cursor: pointer;
  }

  .fa {
    font-size: 1.5rem;
    transition: color .3s ease;

    &:hover {
      cursor: pointer;
    }
  }

  .fa-times {
    color: darken($base-close-color, 10%);

    &:hover {
      color: $base-close-color;
    }
  }
}
