* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh !important;
  height: auto !important;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #424242;
}

/*	sticky footer	*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

/*	/sticky footer	*/
.container {
  width: 1051px;
  margin: 0 auto;
}

.wrapper {
  min-width: 970px;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:visited {
  color: inherit;
}

.devider {
  width: 2.938rem;
  height: 0.313rem;
  background-color: #424242;
  margin: 0 auto;
  margin-top: 14px;
  margin-top: 0.875rem;
}

.header__info {
  box-shadow: 0 0.063rem 0 #e2e2e2;
  background-color: #f0f2f4;
}

.header__info .info__row {
  height: 2.625rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.info__telephone {
  height: 100%;
  padding-right: 19px;
  padding-right: 1.1875rem;
  border-right: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  font-size: 0.938rem;
  font-weight: 400;
}
.info__telephone .fa {
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 11px;
  margin-right: 0.6875rem;
}

.info__mail {
  padding-left: 20px;
  padding-left: 1.25rem;
}
.info__mail .fa {
  margin-right: 8px;
  margin-right: 0.5rem;
}

.info__facebook {
  margin-left: 12px;
  margin-left: 0.75rem;
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 0.188rem 0.125rem 0.125rem 0.188rem;
  background-color: #1287bf;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__facebook .fa {
  color: #ffffff;
}

.menu-and-logo {
  min-height: 51px;
  min-height: 3.1875rem;
  padding-top: 42px;
  padding-top: 2.625rem;
  padding-bottom: 38px;
  padding-bottom: 2.375rem;
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}
.header__logo .fa {
  line-height: 3.063rem;
  color: #dd2a24;
  font-size: 3.563rem;
  margin-right: 10px;
  margin-right: 0.625rem;
}

.logo__business-name {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.logo__business-name h1 {
  line-height: 1.75rem;
  font-size: 2.313rem;
  font-weight: 700;
}
.logo__business-name h3 {
  margin-top: 8px;
  margin-top: 0.5rem;
  line-height: 0.938rem;
  font-size: 0.938rem;
  font-weight: 400;
}

.header__menu-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-wrapper__menu {
  display: flex;
  font-size: 0.938rem;
  font-weight: 700;
}

.menu__item {
  display: inline-block;
  padding-left: 17px;
  padding-left: 1.0625rem;
  padding-right: 12px;
  padding-right: 0.75rem;
  position: relative;
  transition: .3s;
  white-space: nowrap;
}
.menu__item:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  margin-top: -0.0625rem;
  width: 0.313rem;
  height: 0.313rem;
  border-radius: 50%;
  background-color: #424242;
}
.menu__item:first-of-type {
  padding-left: 0;
}
.menu__item:first-of-type:before {
  display: none;
}
.menu__item:last-of-type {
  padding-right: 0;
}
.menu__item:hover {
  color: #de2b24;
}

.menu-wrapper__btn {
  min-width: 10.688rem;
  min-height: 2.25rem;
  margin-left: 32px;
  margin-left: 2rem;
  border-radius: 0.25rem;
  background-color: #de2b24;
  color: #ffffff;
  font-size: 0.938rem;
  font-weight: 700;
}
.menu-wrapper__btn:hover {
  cursor: pointer;
}

.banner {
  min-height: 36.875rem;
  background: url(../img/banner.jpg) center bottom no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding-top: 176px;
  padding-top: 11rem;
}

.banner__layout {
  position: relative;
  z-index: 10;
}

.banner__h1 {
  font-size: 3rem;
  font-weight: 700;
}

.banner__h2 {
  font-size: 1.875rem;
  font-weight: 300;
}

.banner__btn {
  margin-top: 32px;
  margin-top: 2rem;
  padding: 25px;
  padding: 1.5625rem;
  padding-left: 40px;
  padding-left: 2.5rem;
  padding-right: 40px;
  padding-right: 2.5rem;
  border-radius: 0.375rem;
  background-color: #f8cd53;
  color: #ffffff;
  font-size: 1.438rem;
  font-weight: 700;
  text-transform: uppercase;
}
.banner__btn:hover {
  cursor: pointer;
}

.services {
  padding-top: 102px;
  padding-top: 6.375rem;
  padding-bottom: 119px;
  padding-bottom: 7.4375rem;
  text-align: center;
}
.services .container {
  width: 951px;
}
.services .services__h1 {
  font-size: 2.25rem;
  font-weight: 700;
}
.services .services__h3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 2px;
  margin-top: 0.125rem;
}

.services__row {
  margin-top: 46px;
  margin-top: 2.875rem;
}

.services__service {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.service__img {
  max-height: 79px;
  max-height: 4.9375rem;
}

.service__text-wrapper {
  margin-top: 28px;
  margin-top: 1.75rem;
}

.service__h5 {
  font-size: 1.375rem;
  font-weight: 700;
}

.service__p {
  max-width: 14.875rem;
  margin-top: 14px;
  margin-top: 0.875rem;
  color: #5c5c5c;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

/*	HelveticaNeue ~ 'Source Sans Pro'	*/
/*	Ronnia ~ 'Days One'	*/
