html,
body {
  margin: 0;
  padding: 0;
	font-size: 16px;
	font-family: "Roboto", serif;
}

.container {
  max-width: 1240px;
}

/* Header */
header {
  background-color: rgba(28, 28, 28, .8);
	width: 100%;
	position: fixed;
	z-index: 3;
	height: 2.625rem;
	
	/* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
/*  will-change: transform;*/
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.icon-menu {
	text-align: center;
	float: left;
}

.icon-menu i {
	width: 2.625rem;
	color: #fff;
	line-height: 2.625rem;
	margin: 0;
	font-size: 30px;
}

.icon-menu i:hover {
	cursor: pointer;
}

header h1 {
  color: #ffa800;
  font-size: 1.25rem;
  margin: 0;
/*  padding: 10px 0;*/
	line-height: 2.625rem;
  text-transform: uppercase;
	display: inline-block;
}

header h1 span {
  color: #fff;
  padding-left: 3px;
}

header .login {
	position: relative;
	text-align: right;
}

header .login p {
  color: #fff;
	line-height: 2.625rem;
  margin: 0;
  text-transform: uppercase;
  cursor: pointer;
}

/*
header .col-md-3, .header .pull-right { 
  width: 50%; float: left; 
}
*/

 header .dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0px;
  left: auto;
  width: 290px;
  border-radius: 0;
  padding: 10px;
}

header .dropdown-menu h3 {
  font-size: 1.25rem;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  
}

header .dropdown-menu button {
  text-transform: uppercase;
}

header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.container > .row > div {
/*	padding: 0;*/
}

/* Menu */
.menu {
	background-color: rgba(28, 28, 28, .8);
  left: -285px;  /* start off behind the scenes */
  top: 0;
  height: 100%;
  position: fixed;
  width: 285px;
	z-index: 4;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  line-height: 2.625rem;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
	
}

.menu li:hover {
	background: rgba(0, 0, 0, 0.92);
}

.menu a {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none
/*	text-transform: lowercase;*/
}

.icon-close {
  cursor: pointer;
  line-height: 2.625rem;
	padding-left: 15px;
  padding-top: 0px;
	color: #fff;
	font-size: 2.2rem;
}
/* /Menu */



/* Main */
.main {
  background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-375988.jpg) no-repeat top right fixed; 
  background-size: cover;
	height: 100vh;
	min-height: 600px;
	padding-top: 70px;
}

#accordion {
  background-color: #fff;
  margin-top: 20px;
  padding: 0;
}

#accordion a {
  text-decoration: none;
  color: #000;
  
}

.ui-accordion-header {
  background-color: #1c1c1c;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0;
  outline: 0;
  padding: 8px 20px;
  text-transform: uppercase;
}

.ui-accordion-header:not(:first-of-type) {
  border-top: 1px solid #ddd;
}

.ui-accordion-content {
  padding: 0px 20px;
}

.ui-accordion-content ul {
  list-style: none;
  padding: 5px 0;
  text-decoration: none;
  margin-bottom: -5px;
}

.ui-accordion-content li {
  padding: 1px 0;
}

.ui-accordion-content li:first-of-type {
  margin-top: 0px;
}

#accordion > form {
	padding: 30px;
}

#accordion > form input:not(.input-gr) {
	width: 60%;
}

.kindOfPipe-group {
	width: 60%;
}

.pipe-choice {
	padding: 3px 20px !important;
}
.pipe-choice:hover {
	cursor: pointer;
	background-color: rgb(230, 230, 230);
}

.totalLabel {
	margin-left: 10px;
	color: #00ad21;
}

#stress {
	color: #00ad21;
}

.inputError {
	background-color: rgba(255, 30, 30, 0.82);
}

/* Supporting */
.supporting {
  background-color: #1c1c1c;
}

.supporting h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 40px;
  color: #fff;
}

.supporting p {
  text-align: center;
  margin: 8px 0 40px 0;
  color: #fff;
}

.feature {
/*  background: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-403629.png') no-repeat center center fixed;*/
  background: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-203368.jpg') no-repeat center center fixed;
  background-size: cover;
/*  height: 400px;*/
	height: 100vh;
  width: 100%;
}

/* Footer */
.footer {
  background-color: #1c1c1c;
  padding: 40px 0 20px 0;
  color: #fff;
}

.footer ul {
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}

.footer li {
  text-transform: uppercase;
}

.footer p {
  color: #999;
}


/* Media */
@media (min-width: 1300px) {
  .container > .row > div {
		padding: 0px;
	}
}

@media (max-width: 766px) {
	html, body {
		font-size: 25px;
	}
	
	#accordion input, 
	.kindOfPipe-group {
		width: 100% !important;
		font-size: 1rem;
	}
	
	.totalLabel {
		display: block;
		text-align: center;
	}
	
	.pipe-choice {
		font-size: 0.9rem;
	}
	
  #area, #innerArea {
		margin: 10px 0 0;
	}
	
	.main {
		min-height: 900px;
		height: 100vh;
	}
}