.featureBar {
	position: relative;
	background: url(../img/featureBar-bg.jpg) center center repeat;
	padding: 40px 0;
	overflow: hidden;
	
	&:before,
	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		height: 15px;
		width: 100%;
		z-index: 0;
		background-size: 100% 100%;
	}
	&:before {
		background: url(../img/stitching-top.png) center center repeat-x;
		top: 0;
	}
	&:after {
		background: url(../img/stitching-bottom.png) center center repeat-x;
		bottom: 0;
	}
}


.featureBar__leftRow {
	display: flex;
	flex-wrap: wrap;
	margin-left: -.7%;
}

.featureBar__item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	min-height: 2.063rem;
	width: 48%;
	margin-left: 1%;
	margin-top: 25px;
	font-family: 'Source Sans Pro', sans-serif;
	
	display: flex;
	align-content: center;
	align-items: center;
}

.featureBar__item:nth-of-type(-n + 2) {
	margin-top: 0;
}

.featureBar__img {
	align-self: flex-start;
	flex: 0 0 auto;
	margin-right: 12px;
}

.featureBar__plus-icon {
	background: url(../img/feature-bar--item-plus-icon.png) center center no-repeat;
	position: absolute;
	width: 34px;
	height: 34px;
	top: -12px;
	left: -12px;
}

.featureBar__text-wrapper {
	align-self: baseline;
}

.featureBar h4 {
	text-shadow: 0 0.063rem 0.063rem rgba(0, 0, 0, 0.5);
	color: #f1eee5;
	font-size: 0.813rem;
	font-weight: 700;
}

.featureBar p {
	text-shadow: 0 0.063rem 0.063rem rgba(0, 0, 0, 0.5);
	color: #979797;
	margin-top: 6px;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.25rem;
}

.featureBar__btns {
	display: flex;
	justify-content: space-between;
	margin-top: 23px;
}

.featureBar__btn {
	display: inline-block;
	position: relative;
	z-index: 1;
	text-shadow: 0 0.063rem 0.063rem rgba(255, 255, 255, 0.8);
	color: #252525;
	font-family: Georgia;
	font-size: 0.875rem;
	font-style: italic;
	line-height: 1.25rem;
	padding: 0.625rem 1.375rem;
	vertical-align: middle;
	text-align: center;
	border-radius: 30px;
	background-color: #f0db91;
	background: linear-gradient(to top, #e0bf49 0%, #f1e1aa 100%);
	box-shadow: 0 0.063rem 0.125rem rgba(0, 0, 0, 0.9);
}
.featureBar__btn:after {
	position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
	background-color: #f0db91;
  background: linear-gradient(to top, #f0db91 0%, #e8cf78 100%);
  transition: opacity .5s ease-out;
  z-index: 2;
  opacity: 0;
}
.featureBar__btn:hover {
	color: inherit;
}
.featureBar__btn:hover:after {
	opacity: 1;
}

.featureBar__btn span {
	position: relative;
	z-index: 3;
	white-space: nowrap;
}