.footer {
	background-color: #515151;
}

.footer__copyright {
	@include rem(padding, 26);
	
	color: #cecece;
	font-family: "Open Sans";
	font-size: 0.875rem;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	p {
		max-width: 30rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}